<h1> What yummy new recipe should we track?! </h1>
<br>
<form action="/recipes" method="POST">

<p>Recipe Name:
<input type="text" name="title">

    <input type="Submit" value="Submit">
</form>
<br>
<p>Go back to your <a href="/recipes">recipes</a>.<br>

<a href="/logout">Logout</a>