<h1>Signup</h1>

<form action="/signup" method="POST">

<h3>Its quick and simple to sign up!</h3>
<p>
<label for="email"> Email:</label>
<input type="text" name="email" id="email"/>
</p>

<p>
<label for="password"> Password:</label>
<input type="password" name="password" id="password"/>
</p>

<input type ="submit"/>

 </form>
 <p> If you have an active RecipeTracker account, please <a href="/signup"> Login</a>!</p>